/* Font family */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.dosis {
    font-family: 'Dosis', sans-serif;
}

p {
    font-family: 'Titillium Web', sans-serif;
}

.push {
    justify-content: end
}

.lim-width {
    max-width: 45%;

}
.learn-more {
    text-align: right;
    text-decoration: underline #F8D59B;
}

.shelter-button{
    max-width: 60%;
    min-width: 60%;
}

.checklist-button{
    max-width: 60%;
    min-width: 60%;
}

.learn-more-2 {
    text-align: right;
    text-decoration: underline;
    text-decoration-color: #F8D59B;
    font-weight: bold;
}

.pad-section {
    padding-top: 3%;
}

.low-com-box {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1%;
    align-items: center;
}
.adopt-box {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1%;
    align-items: center;
}

.stress-dog {
    max-width: 30%;
    height:fit-content;
}

.low-com-blurb {
    max-width: 60%;
    font-family: 'Titillium Web', sans-serif;
    padding-bottom: 3%;
}

.bound-width {
    max-width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-container {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    max-width: 95%;
    justify-content: space-evenly;
}

.card-container-adopt {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
   
    justify-content: space-evenly;
}

.checklist {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 25%;
    margin-right: 2%;

}
.article-title {
    text-align: center;
}

.img {
    height: 100px;
    width: auto;
    margin: auto;
}

.benefit-box {
    min-height: 400px;
}

.learn-more:visited {
    color: #ff7931;
}

.learn-more:hover {
    color: #ff7931;
}

.heading {
    border-bottom: 2px solid #761e0b;
}

.warning {
    overflow: auto;
}

.warning-icon {
    float: left;
}

.adoptorflop {
    margin: auto;
}

.center {
    text-align: center;
}