/* Font family */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.dosis {
    font-family: 'Dosis', sans-serif;
}

p {
    font-family: 'Titillium Web', sans-serif;
}

.push {
    justify-content: end
}

.learn-more {
    margin-left: auto; 
    margin-right: 0;
    text-decoration: underline #F8D59B;
    text-emphasis-color: 0F1828;
}